.event-viewer-row {
  padding: $ix-marg-b;
  border-radius: $radius;
  margin: $ix-marg-a 0;
  background: $g3-castle;
  display: flex;
  font-size: $ix-text-base;
}

.event-viewer-row .event-viewer-row--field {
  margin: 0 $ix-marg-b;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
